
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post">
    <input type="text" value="@Model.Name" placeholder="Name" class="form-control" name="Name" />
    <span class="text-danger">@Html.ValidationMessage("Name")</span> <br />
    <input type="text" value="@Model.ID" placeholder="ID" class="form-control" name="ID" />
    <span class="text-danger">@Html.ValidationMessage("ID")</span> <br />
    <input type="date" value="@Model.DOB" placeholder="DOB" class="form-control" name="DOB" />
    <span class="text-danger">@Html.ValidationMessage("DOB")</span> <br />
    <input type="text" value="@Model.Email" placeholder="Email" class="form-control" name="Email" />
    <span class="text-danger">@Html.ValidationMessage("Email")</span> <br />
    <input type="submit" value="Create" class="btn btn-success" />
</form>

